.typeahead {
  position: relative;
  margin-top: 1rem;

  & > input {
    width: 100%;
    padding: 0.75rem 0.8rem;
    border: 1px solid var(--blue-gray-300);
    background-color: var(--blue-gray-50);
    transition-property: background-color, border-color;
    transition-duration: 0.6s;
    transition-timing-function: var(--ease-out-quart);
    
    &:focus,
    &:active {
      border-color: var(--green-vivid-300);
      color: var(--green-vivid-700);
      background-color: var(--green-vivid-50);
      outline: none;
    }
  }

  & > ul {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(1.4rem + 1.5rem + 2px - 1px);
    border: 1px solid var(--blue-gray-300);
    background-color: var(--white);

    li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0.375rem 0.75rem;
      border-left: 0.25rem solid transparent;

      &:hover,
      &:focus,
      &:active {
        background-color: var(--green-vivid-50);
        border-color: var(--green-vivid-300);
      }

      & img {
        max-width: 2.5rem;
        border: 1px solid var(--blue-gray-200);

        @media (max-width: 400px) {
          display: none;
        }
      }

      & span {
        flex-grow: 1;
        display: block;
        margin-block: 0.25rem 0.5em;
        margin-inline: 0.75em 0.25rem;
      }
    }
    
    &:empty {
      visibility: hidden;
    }
  }

  
}
